@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
button {
  padding: 0.7rem 1.5rem;
  border-radius: 4rem;
  margin: 0.7rem 0;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  transform: scale(0.9);
}

.blackish {
  background-color: #000000;
  color: white;
}

.yellowish {
  background-image: linear-gradient(to right, rgba(250, 250, 3, 0.913), rgba(227, 218, 218, 0.119));
}

.bluish {
  background-image: linear-gradient(to right, rgba(0, 106, 255, 0.966), rgba(116, 204, 241, 0.055));
}

.reddish {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.611), rgba(246, 172, 35, 0.407));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 0.7rem 3rem;
  color: white;
  margin-top: 1rem;
}
.nav1 a {
  color: white;
  transition: all 0.5s;
}
.nav1 a:hover {
  color: orangered;
}

.nav2 {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.nav2 a {
  color: #000000;
}
.nav2 a:hover {
  color: orangered;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icontext {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.vertical-line {
  border-right: 2px solid white;
  width: 20px;
  height: 20px;
}

.vertical-line1 {
  border-right: 2px solid #000000;
  width: 20px;
  height: 20px;
}

.bold {
  font-weight: 600;
}

.big {
  font-size: 2rem;
  color: #0b18b7;
}

.uppercards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
}

.first-card {
  background-color: #000000;
  border-radius: 20px;
  padding: 0.5rem;
  width: 30%;
}
.first-card a {
  text-decoration: none;
  color: white;
}

.second-card {
  background-color: #fd7349;
  border-radius: 20px;
  padding: 2rem 3rem;
  width: 30%;
}
.second-card .above {
  margin-top: -6rem;
  margin-left: -2rem;
  width: 100%;
}
.second-card a {
  color: #000000;
}

.third-card {
  background-color: #000000;
  border-radius: 20px;
  padding: 1rem;
  width: 30%;
}
.third-card .lapi {
  width: 100%;
}
.third-card a {
  color: white;
}

.fourth-card {
  border-radius: 20px;
  padding: 2rem 1rem;
  width: 40%;
}
.fourth-card .cam {
  width: 100%;
}
.fourth-card a {
  color: white;
}

.sixth-card {
  background-color: #000000;
  border-radius: 20px;
  padding: 1rem;
  width: 40%;
}
.sixth-card .cam {
  width: 100%;
}
.sixth-card a {
  color: white;
}

.salescards {
  transition: all 3s;
}

.salescards:hover {
  transform: scale(0.95);
}

.content {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 2rem;
}

.box1 {
  background-color: #000000;
  border-radius: 20px;
  border: none;
  padding-top: 2rem;
  padding: 1rem;
  text-align: center;
  color: white;
  width: 50%;
  height: auto;
  margin-top: 2rem;
}

.box {
  background-color: #fd7349;
}

.redh {
  background-color: #dc2541;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 2.5rem;
}

.pc {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.iphone {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.box-blue {
  background-color: #0089f7;
}

.body2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  margin-top: 0.5rem;
}

.boxh {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  height: 30%;
  border-radius: 20px;
  padding: 1.8rem 0;
  color: white;
  margin-left: 4rem;
}
.boxh a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-left: -4rem;
}
.smallbox h2 {
  font-size: 1rem;
}

.heading {
  text-align: center;
  margin: 2rem;
}

.cards .upcards,
.cards .downcards,
.cardi .upcards,
.cardi .downcards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 3rem;
  margin-top: 2rem;
}
.cards .upcards a,
.cards .downcards a,
.cardi .upcards a,
.cardi .downcards a {
  color: #000000;
}
.cards .card,
.cardi .card {
  width: 250px;
  height: 300px;
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid #000000;
  position: relative;
}
.cards .card .image img,
.cardi .card .image img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.cards .card1,
.cardi .card1 {
  height: 340px;
}
.cards .image img,
.cardi .image img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.cards .desc,
.cardi .desc {
  width: 100%;
  height: 50%;
}
.cards .horiz,
.cardi .horiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .horiz p,
.cardi .horiz p {
  font-size: 0.9rem;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  color: white;
  padding-top: 0.5rem;
  text-align: center;
  top: 3%;
  left: 3%;
}

.btn {
  padding: 0.7rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  color: white;
  margin-top: 1rem;
}

.computer {
  margin: 0 3rem;
  padding: 1rem 8rem;
  margin-top: 9rem;
  display: flex;
  gap: 4rem;
  background-color: #000000;
  border-radius: 20px;
}
.computer a {
  color: white;
}
.computer img {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-left: 20rem;
  margin-top: -17rem;
}
.computer .compdesc {
  width: 100%;
}

hr {
  width: 600px;
  height: 2px;
  color: #000000;
}

.new {
  padding: 0 3rem;
  margin: 3rem 0;
}
.new .line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.big {
  position: relative;
  padding: 0 3rem;
  margin: 10rem 0;
}
.big .boxhi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.big .bl {
  background-color: #000000;
  width: 130%;
  border-radius: 20px;
  color: white;
  padding: 1rem;
}
.big .br {
  background-color: blue;
  width: 130%;
  border-radius: 20px;
  color: white;
}
.big .content {
  width: 80%;
}
.big .pc1 {
  width: 400px;
  position: absolute;
  right: 45%;
  bottom: 21%;
}
.big .pc2 {
  width: 300px;
  position: absolute;
  right: 20%;
  bottom: 25%;
  rotate: -45deg;
}

.latest h1 {
  text-align: center;
}
.latest .latestnews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3rem;
  margin-top: 3rem;
  gap: 1rem;
}
.latest .latestnews a {
  color: black;
}
.latest .latestnews .date {
  display: flex;
  justify-self: center;
  border: 1px solid #000000;
  flex-direction: column;
  gap: 3rem;
  border-radius: 20px;
  padding: 1rem;
}
.latest .latestnews .date hr {
  width: 200px;
  background-color: blue;
}
.latest .latestnews .date h2 {
  padding-top: 0.5rem;
  font-size: 1.4rem;
}

.redicons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3rem;
  margin: 3rem 0;
}

.last {
  margin: 0 3rem;
  padding: 3rem;
  text-align: center;
  border-radius: 20px;
  background-color: #0089f7;
  color: white;
}
.last h2 {
  font-weight: lighter;
  font-size: 3rem;
  padding: 0.5rem 1rem 1rem;
}
.last h1 {
  padding-top: 0.5rem;
}
.last button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-left: 18rem;
  background-color: transparent;
  border: 1px solid white;
  width: 50%;
}
.last button a {
  background-color: white;
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  color: #0b18b7;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 3rem;
  margin-top: 3rem;
}
.footer a {
  color: #000000;
}
.footer .row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.footer .column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.log {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blu {
  color: #0b18b7;
  font-size: 2rem;
}

.redi {
  color: #ff0002;
  font-size: 2rem;
}

.down hr {
  margin: 3rem 3rem;
  width: 100%;
}
.down .footnote {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.down .footnote a {
  color: #000000;
}

html {
  font-size: 100%;
}

@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
  .downcards .salescards {
    width: 80%;
    margin: 1rem auto;
  }
  .body2 {
    display: flex;
    flex-direction: column;
  }
  .uppercards .salescards,
  .body2 .salescards {
    width: 80%;
    margin: 1rem auto;
  }
  .uppercards .boxh,
  .body2 .boxh {
    width: 100%;
    margin-left: 1rem;
  }
  .cards .upcards .card1 .btn {
    display: none;
  }
  .cards .upcards .card {
    width: 45%;
    height: 250px;
  }
  .latest .salescards {
    width: 40%;
  }
  .latest hr {
    display: none;
  }
  .last {
    width: 80%;
  }
  .last button {
    width: 100%;
    margin-left: 0;
  }
  .footer .log {
    width: 80%;
    margin-left: 8rem;
  }
  .footer .row {
    width: 50%;
    margin-top: 1rem;
  }
  .computer {
    position: relative;
  }
  .computer img {
    position: absolute;
    left: 10%;
    right: 19%;
  }
  .big .boxhi {
    width: 80%;
  }
  .big img {
    display: none;
  }
  .big .br {
    margin-top: 2rem;
    padding-right: 3rem;
  }
  .nav1 .contacts .phone {
    display: none;
  }
  .nav2 {
    display: flex;
    flex-direction: column;
  }
  .nav2 .home .vertical-line1 {
    display: none;
  }
  .nav2 .contacts {
    padding: 0.2rem 0;
  }
  .redicons .log {
    width: 50%;
    padding-top: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */