@import "./variables";
@import "./components";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}

.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-black;
  padding: 0.7rem 3rem;
  color: $color-white;
  margin-top: 1rem;
  a {
    color: $color-white;
    transition: all 0.5s;
  }
  a:hover {
    color: orangered;
  }
}
.nav2 {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  a {
    color: $color-black;
  }
  a:hover {
    color: orangered;
  }
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.icontext {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.vertical-line {
  border-right: 2px solid $color-white;
  width: 20px;
  height: 20px;
}
.vertical-line1 {
  border-right: 2px solid $color-black;
  width: 20px;
  height: 20px;
}
.bold {
  font-weight: 600;
}
.big {
  font-size: 2rem;
  color: $color-blue;
}

.uppercards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
}
.first-card {
  background-color: $color-black;
  border-radius: 20px;
  padding: 0.5rem;
  width: 30%;
  a {
    text-decoration: none;
    color: $color-white;
  }
}
.second-card {
  background-color: $color-orange;
  border-radius: 20px;
  padding: 2rem 3rem;
  width: 30%;
  .above {
    margin-top: -6rem;
    margin-left: -2rem;
    width: 100%;
  }
  a {
    color: $color-black;
  }
}
.third-card {
  background-color: $color-black;
  border-radius: 20px;
  padding: 1rem;
  width: 30%;
  .lapi {
    width: 100%;
  }
  a {
    color: $color-white;
  }
}
.fourth-card {
  border-radius: 20px;
  padding: 2rem 1rem;
  width: 40%;
  .cam {
    width: 100%;
  }
  a {
    color: $color-white;
  }
}
.sixth-card {
  background-color: $color-black;
  border-radius: 20px;
  padding: 1rem;
  width: 40%;
  .cam {
    width: 100%;
  }
  a {
    color: $color-white;
  }
}

.salescards {
  transition: all 3s;
}
.salescards:hover {
  transform: scale(0.95);
}
.content {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 2rem;
}

.box1 {
  background-color: $color-black;
  border-radius: 20px;
  border: none;
  padding-top: 2rem;
  padding: 1rem;
  text-align: center;
  color: $color-white;
  width: 50%;
  height: auto;
  margin-top: 2rem;
}

.box {
  background-color: $color-orange;
}
.redh {
  background-color: #dc2541;
}

h2 {
  font-size: 2rem;
}
h1 {
  font-size: 2.5rem;
}
.pc {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.iphone {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.box-blue {
  background-color: $color-lightblue;
}
.body2 {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  margin-top: 0.5rem;
}
.boxh {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  height: 30%;
  border-radius: 20px;
  padding: 1.8rem 0;
  color: $color-white;
  margin-left: 4rem;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.smallbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-left: -4rem;
  h2 {
    font-size: 1rem;
  }
}
.heading {
  text-align: center;
  margin: 2rem;
}

.cards,
.cardi {
  .upcards,
  .downcards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 3rem;
    margin-top: 2rem;
    a {
      color: $color-black;
    }
  }
  .card {
    width: 250px;
    height: 300px;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid $color-black;
    position: relative;
    .image {
      img {
        width: 100%;
        height: 40%;
        object-fit: cover;
      }
    }
  }
  .card1 {
    height: 340px;
  }
  .image {
    img {
      width: 100%;
      height: 40%;
      object-fit: cover;
    }
  }
  .desc {
    width: 100%;
    height: 50%;
  }
  .horiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 0.9rem;
    }
  }
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  color: $color-white;
  padding-top: 0.5rem;
  text-align: center;
  top: 3%;
  left: 3%;
}
.btn {
  padding: 0.7rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  color: $color-white;
  margin-top: 1rem;
}
.computer {
  margin: 0 3rem;
  padding: 1rem 8rem;
  margin-top: 9rem;
  display: flex;
  gap: 4rem;
  background-color: $color-black;
  border-radius: 20px;
  a {
    color: $color-white;
  }
  img {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-left: 20rem;
    margin-top: -17rem;
  }
  .compdesc {
    width: 100%;
  }
}
hr {
  width: 600px;
  height: 2px;
  color: $color-black;
}
.new {
  padding: 0 3rem;
  margin: 3rem 0;
  .line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.big {
  position: relative;
  padding: 0 3rem;
  margin: 10rem 0;
  .boxhi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .bl {
    background-color: $color-black;
    width: 130%;
    border-radius: 20px;
    color: $color-white;
    padding: 1rem;
  }
  .br {
    background-color: blue;
    width: 130%;
    border-radius: 20px;
    color: $color-white;
  }
  .content {
    width: 80%;
  }

  .pc1 {
    width: 400px;
    position: absolute;
    right: 45%;
    bottom: 21%;
  }
  .pc2 {
    width: 300px;
    position: absolute;
    right: 20%;
    bottom: 25%;
    rotate: -45deg;
  }
}
.latest {
  h1 {
    text-align: center;
  }
  .latestnews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3rem;
    margin-top: 3rem;
    gap: 1rem;
    a {
      color: black;
    }
    .date {
      display: flex;
      justify-self: center;
      border: 1px solid $color-black;
      flex-direction: column;
      gap: 3rem;
      border-radius: 20px;
      padding: 1rem;
      hr {
        width: 200px;
        background-color: blue;
      }
      h2 {
        padding-top: 0.5rem;
        font-size: 1.4rem;
      }
    }
  }
}
.redicons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3rem;
  margin: 3rem 0;
}
.last {
  margin: 0 3rem;
  padding: 3rem;
  text-align: center;
  border-radius: 20px;
  background-color: $color-lightblue;
  color: $color-white;
  h2 {
    font-weight: lighter;
    font-size: 3rem;
    padding: 0.5rem 1rem 1rem;
  }
  h1 {
    padding-top: 0.5rem;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin-left: 18rem;
    background-color: transparent;
    border: 1px solid $color-white;
    width: 50%;

    a {
      background-color: $color-white;
      border-radius: 20px;
      padding: 0.3rem 0.5rem;
      color: $color-blue;
      font-weight: 500;
    }
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 3rem;
  margin-top: 3rem;
  a {
    color: $color-black;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  .column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
.log {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.blu {
  color: $color-blue;
  font-size: 2rem;
}
.redi {
  color: $color-purered;
  font-size: 2rem;
}
.down {
  hr {
    margin: 3rem 3rem;
    width: 100%;
  }
  .footnote {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    a {
      color: $color-black;
    }
  }
}
html {
  font-size: 100%;
}

@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
  .downcards {
    .salescards {
      width: 80%;
      margin: 1rem auto;
    }
  }
  .body2 {
    display: flex;
    flex-direction: column;
  }
  .uppercards,
  .body2 {
    .salescards {
      width: 80%;
      margin: 1rem auto;
    }
    .boxh {
      width: 100%;
      margin-left: 1rem;
    }
  }
  .cards {
    .upcards {
      .card1 {
        .btn {
          display: none;
        }
      }
      .card {
        width: 45%;
        height: 250px;
      }
    }
  }

  .latest {
    .salescards {
      width: 40%;
    }
    hr {
      display: none;
    }
  }
  .last {
    width: 80%;
    button {
      width: 100%;
      margin-left: 0;
    }
  }
  .footer {
    .log {
      width: 80%;
      margin-left: 8rem;
    }
    .row {
      width: 50%;
      margin-top: 1rem;
    }
  }
  .computer {
    position: relative;
    img {
      position: absolute;
      left: 10%;
      right: 19%;
    }
  }
  .big {
    .boxhi {
      width: 80%;
    }
    img {
      display: none;
    }
    .br {
      margin-top: 2rem;
      padding-right: 3rem;
    }
  }
  .nav1 {
    .contacts {
      .phone {
        display: none;
      }
    }
  }
  .nav2 {
    display: flex;
    flex-direction: column;
    .home {
      .vertical-line1 {
        display: none;
      }
    }
    .contacts {
      padding: 0.2rem 0;
    }
  }
  .redicons {
    .log {
      width: 50%;
      padding-top: 0.5rem;
    }
  }
}
